<ul class="nav navbar-nav left">
   <% if user_signed_in? %>
      <%= menu_link 'members', 'Miembros' %>
      <%= menu_link 'groups', 'Grupos' %>
      <%= menu_link 'messages', 'Mensajes' %>

      <li>
          <%#= link_to 'Perfil', edit_user_registration_path %>
      </li>
      
      <li>
          <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
      </li>
   <% end %>
</ul>